<a href="https://colab.research.google.com/github/mkogut/G4_ML/blob/main/loops_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path

In [ ]:
!rm -r /content/g4-loops/

In [ ]:
!git clone https://gitlab.com/mateusz.kogut.mk/g4-loops.git

Cloning into 'g4-loops'...
remote: Enumerating objects: 1866, done.
remote: Counting objects: 100% (1866/1866), done.
remote: Compressing objects: 100% (1556/1556), done.
remote: Total 1866 (delta 309), reused 1863 (delta 309), pack-reused 0
Receiving objects: 100% (1866/1866), 24.10 MiB | 17.81 MiB/s, done.
Resolving deltas: 100% (309/309), done.

In [ ]:
loops_df = pd.read_csv("/content/g4-loops/loops_df.csv", index_col=0)
loops_df

                pdb  ...                                           residues
0     143d_sep0.pdb  ...                                  A.DT5,A.DT6,A.DA7
1     143d_sep0.pdb  ...                               A.DT11,A.DT12,A.DA13
2     143d_sep0.pdb  ...                               A.DT17,A.DT18,A.DA19
3     143d_sep1.pdb  ...                                  A.DT5,A.DT6,A.DA7
4     143d_sep1.pdb  ...                               A.DT11,A.DT12,A.DA13
...             ...  ...                                                ...
5855  7cv4_sep8.pdb  ...  A.DC8,A.DG9,A.DC10,A.DG11,A.DC12,A.DC13,A.DA14...
5856  7cv4_sep8.pdb  ...                        A.DG20,A.DT21,A.DC22,A.DG23
5857  7cv4_sep9.pdb  ...                                        A.DA4,A.DG5
5858  7cv4_sep9.pdb  ...  A.DC8,A.DG9,A.DC10,A.DG11,A.DC12,A.DC13,A.DA14...
5859  7cv4_sep9.pdb  ...                        A.DG20,A.DT21,A.DC22,A.DG23

[5860 rows x 8 columns]

In [ ]:
!cp /content/g4-loops/loops_df.csv /content/g4-loops/loops_df2.csv

Output dla modelu:
- Rodzaj pÄ™tli (%) propellel, lateral, diagonal lub propellel +/-, lateral +/-, diagonal.

Proponowane wÅ‚aÅ›ciwoÅ›ci inputowe:

- poÅ‚oÅ¼enie pÄ™tli od koÅ„ca 5' (1,2,3)
- dÅ‚ugoÅ›Ä‡ pÄ™tli (1-5, >5)
- sekwencja pÄ™tli (jak?)
- odlegÅ‚oÅ›Ä‡ pomiÄ™dzy ostatnim i pierwszym fosforanem z pÄ™tli
- szerokoÅ›Ä‡ bruzdy (Å›rednia odlegÅ‚oÅ›Ä‡ pomiÄ™dzy fosforanami, GG teÅ¼?)
- liczba Å‚aÅ„cuchÃ³w (1,2 i wiÄ™cej?)
- kÄ…ty dihedralne jak w DNA alfa, beta, gamma, delta, epsilon, zeta, chi (?), sugar pucker (?)
- jakieÅ› kÄ…ty pseudodihedralne (zaproponowaÄ‡)
- uÅ‚oÅ¼enie zasad azotowych wzglÄ™dem siebie (kÄ…t)